@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 class="mt-4">Departman Yönetimi</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="index.html">Departman</a></li>
    <li class="breadcrumb-item active">Departman Ekle</li>
</ol>

<form method="post" class="form-group">
    <br />
    <label>Departman Adı</label>
    <br />
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    <br />
    <label>Departman Durumu</label>
    <br />
    @Html.TextBoxFor(x => x.DepartmanDurum, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
    <br />
</form>